@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;

}
html { 
    scroll-behavior: smooth; 
  }

header {
    width: 100vw;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;

    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

header div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

main {
    margin-top: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.T1-user {
    width: 100%;
}

.T1-user-quizzes-empty {
    width: 100%;
    height: 180px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-top: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.T1-user-quizzes-empty p {
    width: 250px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #B9B9B9;
    margin-top: 33px;
}

.T1-user-quizzes-empty div {
    width: 151px;
    height: 40px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EC362D;

    margin-top: 26px;
    margin-bottom: 35px;
    border: 1px dashed #EC362D;
    border-radius: 50px;

    cursor: pointer;
}

.T1-user-quizzes > span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.T1-user-quizzes ion-icon {
    font-size: 30px;
    margin-left: 17px;
    color: #EC362D;
    cursor: pointer;
}

.T1-all-quizzes,
.T1-user-quizzes {
    width: 100%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.T1-all-quizzes h2,
.T1-user-quizzes h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.T1-all-quizzes img,
.T1-user-quizzes img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.T1-all-quizzes ul,
.T1-user-quizzes ul {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.T1-all-quizzes li,
.T1-user-quizzes li {
    margin-top: 14px;
    position: relative;
    width: 340px;
    height: 181px;
    border-radius: 5px;

    cursor: pointer;
}

.T1-all-quizzes div,
.T1-user-quizzes div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 5px;
}
.T1-all-quizzes h3,
.T1-user-quizzes h3 {
    position: absolute;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0 0 7px 18px;
}

body .t1 {
    width: 1050px;
}

/* tela2 */

.T2-img-quizz {
    position: relative;
    width: 100%;
    height: 227px;
}

.T2-img-quizz img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.T2-img-quizz div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));

    display: flex;
    justify-content: center;
    align-items: center;
}

.T2-img-quizz h3 {
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    word-break: keep-all;

    color: #FFFFFF;
}

.T2-question-box, .T2-levels-box {
    margin: 42px 0;
    width: 759px;
    padding: 27px 35px 35px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.T2-question-box div, .T2-levels-box div {
    width: 100%;
    min-height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;

    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    word-break: break-word;
    background-color: #FFFFFF;
}

.T2-question-box ul{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;

}

.T2-question-box li{
    max-width: 100%;
    cursor: pointer;
}

.T2-question-box img{
    width: 332px;
    height: 300px;
    margin-bottom: 4px;
}

.T2-question-box p{
    width: 332px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    word-break: break-word;
}

.T2-levels-box {
    margin-top: 57px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.T2-levels-box div {
    width: 100%;
    min-height: 99px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    word-break: break-word;
    background-color: #FFFFFF;
}

.T2-levels-box img{
    width: 364px;
    height: 273px;
    
}

.T2-levels-content{
    margin-top: 18px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.T2-levels-content h4{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 328px;
    height: 273px;

    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
    word-break: break-word;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset-quizz{
    margin-top: 12px;
    width: 260px;
    height: 52px;
    background: #EC362D;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

    color: #FFF5F4;
    cursor: pointer;
}

.back-home{
    width: 220px;
    height: 44px;
    margin-top: 16px;
    margin-bottom: 85px;

    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #818181; 
    cursor: pointer;
}

.correct p {
    color: forestgreen;
}
.noSelect {
    filter: opacity(30%);
}
.incorrect p {
    color: red;
}
.buttons-edit-del{
    right: 0;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 10px 0px 0px 11px;
    background-color: #EC362D;
    padding-left: 2px;
}

.buttons-edit-del ion-icon{
    color: #FFFFFF;
    margin: 6px 0;
}

.loading{
    margin-top: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #EC362D; 
}

@media (max-width: 1100px) {
    main {
        justify-content: center;
        width: 100%;
    }

    body .t1{
        width: 90%;
    }
    
    .T1-all-quizzes img,
    .T1-user-quizzes img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
    }
    
    .T1-all-quizzes li,
    .T1-user-quizzes li {
        width: 100%;
    }

    .T1-user-quizzes-empty {
        margin-top: 30px;
    }

    .T1-all-quizzes ul,
    .T1-user-quizzes ul {
        display: flex;
        justify-content: center;
    }

    .T1-all-quizzes li,
    .T1-user-quizzes li {
        margin: 7px 0px
    }

    .T2-questions {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .T2-question-box{
        width: 90vw;
        padding: 18px;
    }

    .T2-question-box div, .T2-levels-box div {
        width: 100%;
        min-height: 89px;
        font-weight: 700;
        font-size: 19px;
        line-height: 29px;
        color: #FFFFFF;
        word-break: keep-all;
        background-color: #FFFFFF;
    }
    
    .T2-levels-content{
        flex-direction: column;
        justify-content: center ;
        align-items: center;
    }

    .T2-levels-box {
        width: 90vw;
    }
    .T2-levels-box div {
        width: 100%;
        min-height: 99px;
        text-align: center;
    }
    
    .T2-levels-box img{
        width: 100%;
        height: 50%;
        margin-bottom: 10px;
    }
    
    .T2-levels-content{
        margin-top: 18px ;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    
    .T2-levels-content h4{
        width: 100%;
        height: 50%;
        margin-left: 0;
        font-weight: 700;
        font-size: 19px;
        line-height: 22px;
        text-align: start;
        color: #484848;
        word-break: break-word;
    }

    .T2-question-box ul {
        width: 100%;
    }

    .T2-question-box img {
        width: 100%;
        height: 85%;
        margin-bottom: 0px;
        object-fit: cover;
    }
    
    .T2-question-box p {
        width: 100%;
        font-size: 13px;
        line-height: 15px;

    }

    .T2-img-quizz {
        height: 150px;
    }
    .T2-img-quizz h3 {
        font-weight: 400;
        font-size: 19px;
        line-height: 22px;
    }
}

.T3-header {
    margin: 30px 0px 30px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.T3-box {
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.T3-b {
    margin: 10px 0px;
    padding: 15px 15px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.T3-box input {
    width: 100%;
    height: 43px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 8px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    color: #000000;
}

.T3-box input::placeholder,
.T3-box textarea::placeholder {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    color: #BABABA;
}

.T3-box textarea {
    width: 100%;
    height: 180px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin: 5px 0px;
    margin-bottom: 20px;
    padding: 8px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    color: #000000;

    word-break: break-word;
}

.T3-box h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0px 20px 0px;
}

.T3-h div {
    display: flex;
    justify-content: space-between;
}

.T3-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 55px;
    max-width: 400px;

    background-color: #EC362D;
    border-radius: 15px;

    margin: 20px 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFF5F4;
    cursor: pointer;
}

.T3-btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 55px;
    max-width: 400px;

    border-radius: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #818181;

    cursor: pointer;
}

.T3-incorrectAnswer1,
.T3-incorrectAnswer2,
.T3-incorrectAnswer3 {
    margin-bottom: 20px;
}

.T3-moreMargin {
    padding-bottom: 20px;
}

.T3-boxQuizz {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;

    
}

.T3-boxQuizz img {
    min-width: 340px;
    max-width: 500px;
    width: 90vw;
    
}

.T3-boxQuizz h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 0;
    z-index: 1;

    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    
}

.hide {
    display: none;
}

.unhide {
    display: flex;
}

.select-color{
    display: flex;
    align-items: center;
    justify-content: flex-start;


    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    color: #818181;
}

.select-color input{
    width: 50px;
    margin-right: 10px;
}

.T3-icon{
    cursor: pointer;
}

@media (min-width: 1100px) {
    .T3-box {
        max-width: 600px;
    }
}