@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
}

header {
    width: 100vw;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;

    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

header div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

main {
    margin-top: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.T1-user {
    width: 100%;
}

.T1-user-quizzes-empty {
    width: 100%;
    height: 180px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-top: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.T1-user-quizzes-empty p {
    width: 250px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #B9B9B9;
    margin-top: 33px;
}

.T1-user-quizzes-empty div {
    width: 151px;
    height: 40px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EC362D;

    margin-top: 26px;
    margin-bottom: 35px;
    border: 1px dashed #EC362D;
    border-radius: 50px;

    cursor: pointer;
}

.T1-user-quizzes span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.T1-user-quizzes ion-icon {
    font-size: 30px;
    margin-left: 17px;
    color: #EC362D;
    cursor: pointer;
}

.T1-all-quizzes,
.T1-user-quizzes {
    width: 100%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.T1-all-quizzes h2,
.T1-user-quizzes h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.T1-all-quizzes img,
.T1-user-quizzes img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.T1-all-quizzes ul,
.T1-user-quizzes ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.T1-all-quizzes li,
.T1-user-quizzes li {
    margin-top: 14px;
    position: relative;
    width: 340px;
    height: 181px;
    border-radius: 5px;

    cursor: pointer;
}

.T1-all-quizzes div,
.T1-user-quizzes div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 5px;
}
.T1-all-quizzes h3,
.T1-user-quizzes h3 {
    position: absolute;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0 0 7px 18px;
}

body .t1 {
    width: 1050px;
}

/* tela2 */

.T2-img-quizz {
    position: relative;
    width: 100%;
    height: 227px;
}

.T2-img-quizz img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.T2-img-quizz div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));

    display: flex;
    justify-content: center;
    align-items: center;
}

.T2-img-quizz h3 {
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    word-break: break-all;

    color: #FFFFFF;
}

.T2-question-box, .T2-levels-box {
    margin: 42px 0;
    width: 759px;
    padding: 27px 35px 35px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.T2-question-box div, .T2-levels-box div {
    width: 100%;
    min-height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    word-break: break-all;
    background-color: #FFFFFF;
}

.T2-question-box ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.T2-question-box li{
    max-width: 367px;
    margin: 18px 0;
}
.T2-question-box li:nth-child(odd){
    margin-right:24px ;
}
.T2-question-box img{
    width: 332px;
    height: 300px;
    margin-bottom: 9px;
}

.T2-question-box p{
    width: 332px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    word-break: keep-all;
}

.T2-levels-box {
    margin-top: 57px;
    width: 759px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.T2-levels-box div {
    width: 100%;
    min-height: 99px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    word-break: keep-all;
    background-color: #FFFFFF;
}

.T2-levels-box img{
    width: 364px;
    height: 273px;
}

.T2-levels-content{
    margin-top: 18px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.T2-levels-content h4{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 328px;
    height: 273px;
    margin-left: 21px;

    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
    word-break: keep-all;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset-quizz{
    margin-top: 12px;
    width: 260px;
    height: 52px;
    background: #EC362D;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

    color: #FFF5F4;
    cursor: pointer;
}

.back-home{
    width: 220px;
    height: 44px;
    margin-top: 16px;
    margin-bottom: 85px;

    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #818181; 
    cursor: pointer;
}

.correct p {
    color: forestgreen;
}
.noSelect {
    filter: opacity(30%);
}
.incorrect p {
    color: red;
}

@media (max-width: 1100px) {
    main {
        justify-content: center;
        width: 100%;
    }

    body .t1{
        width: 95%;
    }

    .T1-user-quizzes-empty {
        margin-top: 30px;
    }

    .T1-all-quizzes ul,
    .T1-user-quizzes ul {
        justify-content: space-evenly;
    }

    .T1-all-quizzes li,
    .T1-user-quizzes li {
        margin: 7px 0px
    }

    .T2-questions {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .T2-question-box{
        width: 90vw;
        padding: 18px;
    }

    .T2-question-box ul {
        width: 100%;
    }

    .T2-question-box li {
        width: 100%;
        height: 100%;
        margin: 18px 0;
    }

    .T2-question-box img {
        width: 100%;
        height: 70%;
    }
    
    .T2-question-box p {
        width: 100%;
        font-size: 13px;
        line-height: 15px;

    }
}

@media (max-width: 380px) {


    .T2-img-quizz {
        height: 142px;
        margin-bottom: 12px;
    }   
    .T2-img-quizz h3 {
        font-weight: 400;
        font-size: 19px;
        line-height: 22px;
    }
    
    .T2-question-box {
        margin: 12px 0;
        width: 375px;
        max-height: 436px;
        padding: 16px;
    }
    
    .T2-question-box div {
        width: 340px;
        height: 89px;
    
        font-weight: 700;
        font-size: 19px;
        line-height: 22px;
    }

    .T2-question-box li {
        width: 163px;
    }
    .T2-question-box li:nth-child(odd){
        margin-right:12px ;
    }
    .T2-question-box img {
        width: 163px;
        height: 113px;
        margin-bottom: 4px;
    }
    
    .T2-question-box p {
        width: 163px;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;  
    }
}