@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
}

header {
    width: 100vw;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: fixed;
    top: 0;
    left: 0;
    right: 0;

    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

header div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.T1-user {
    width: 100%;
}

.T1-user-quizzes-empty {
    width: 100%;
    height: 180px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-top: 77px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.T1-user-quizzes-empty p {
    width: 250px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #B9B9B9;
    margin-top: 33px;
}

.T1-user-quizzes-empty div {
    width: 151px;
    height: 40px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EC362D;

    margin-top: 26px;
    margin-bottom: 35px;
    border: 1px dashed #EC362D;
    border-radius: 50px;

    cursor: pointer;
}

.T1-user-quizzes span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.T1-user-quizzes ion-icon {
    font-size: 30px;
    margin-left: 17px;
    color: #EC362D;
    cursor: pointer;
}

.T1-all-quizzes,
.T1-user-quizzes {
    width: 100%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.T1-all-quizzes h2,
.T1-user-quizzes h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.T1-all-quizzes img,
.T1-user-quizzes img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.T1-all-quizzes ul,
.T1-user-quizzes ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.T1-all-quizzes li,
.T1-user-quizzes li {
    margin-top: 14px;
    position: relative;
    width: 340px;
    height: 181px;
    border-radius: 5px;

    cursor: pointer;
}

.T1-all-quizzes div,
.T1-user-quizzes div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 5px;
}

.T1-all-quizzes h3,
.T1-user-quizzes h3 {
    position: absolute;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0 0 7px 18px;
}

/* tela2 */

.T2-img-quizz {
    position: relative;
    width: 100%;
    height: 227px;
}

.T2-img-quizz img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.T2-img-quizz div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));

    display: flex;
    justify-content: center;
    align-items: center;
}

.T2-img-quizz h3 {
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    word-break: break-all;

    color: #FFFFFF;
}

.T2-question-box {
    margin: 42px 0;
    width: 759px;
    padding: 27px 35px 35px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.T2-question-box div {
    width: 100%;
    min-height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    word-break: break-all;
    background-color: #FFFFFF;
}

.T2-question-box ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.T2-question-box li {
    margin: 18px 0;
}

.T2-question-box img {
    width: 332px;
    margin-bottom: 9px;
}

.T2-question-box p {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

@media (max-width: 1100px) {
    main {
        justify-content: center;
        width: 100%;
    }

    .T1-all-quizzes ul,
    .T1-user-quizzes ul {
        justify-content: space-evenly;
    }

    .T1-all-quizzes li,
    .T1-user-quizzes li {
        margin: 0 7px
    }
}